<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <div class="w-64 bg-white border-r border-zinc-200 p-4">
            <div class="flex items-center mb-4">
                <a href="/" class="flex items-center">
                    <img class="h-8 w-auto mr-2" src="https://icon.icepanel.io/Technology/svg/Tailwind-CSS.svg" alt="Company Logo">
                    <h1 class="text-3xl font-bold text-primary">HR SUITE</h1>
                </a>
            </div>
            <p class="text-sm text-gray-500">We take care of you as you take care of business</p>
            <hr class="mt-3 mb-3">
            <nav>
                <ul>
                    <li class="py-1">
                        <a href="admin-dashboard" class="flex text-primary hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">dashboard</span>
                            Dashboard
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/admin/employee-add" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">add</span>
                            Add Employee
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/admin/admin-attendance" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">how_to_reg</span>
                            Attendance
                        </a>
                    </li>
                    <li class="py-2 relative group">
                        <a href="/admin/report" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">assignment</span>
                            Report
                        </a>
                        
                    </li>
                    <li class="py-1">
                        <a href="../admin/admin-task" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">task</span>
                            Task
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/admin/IDCard" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">id_card</span>
                            ID Card
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="#" class="flex text-muted-foreground hover:bg-indigo-100 p-1.5 rounded-md">
                            <span class="material-symbols-outlined mr-3">exit_to_app</span>
                            Exit
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    
</body>
</html>
